@import "tailwindcss";

:root {
    --background: #f9f9f9;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --color-editor: #ffffff;
    --color-editor-line: #ededed;

}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
}

h1 {
    @apply text-4xl font-bold border-b-2 border-[#b3b3b3] mt-0! mb-[16px]!;
}

h2 {
    @apply text-3xl font-bold border-b-1 border-[#dadada] mt-0! mb-[12px]!;
}

h3 {
    @apply text-2xl font-bold mt-0! mb-[8px]!;
}

h4 {
    @apply text-xl mt-0! mb-[4px]!
}

h5 {
    @apply text-lg mt-0! mb-[4px]!
}

h6 {
    @apply text-base font-medium! mt-0! mb-[4px]!
}

body * {
    font-family: Arial, Helvetica, sans-serif !important;
}

.drawer-button {
    @apply absolute flex right-0 px-3 top-3 opacity-100 md:opacity-0 group-hover:opacity-100;
}

.drawer-menu {
    @apply px-1 bg-[#ffffff] md:bg-[#fafafa] cursor-pointer hover:text-[#9a9a9a] rounded;
}

.drawer-content {
    @apply fixed bottom-0 left-0 right-0 z-50 mx-auto w-[85vw] md:w-[50vw] rounded-t-2xl bg-white border
}

.title-editor {
    background-color: var(--color-editor);
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.body-editor {
    background-color: var(--color-editor);
    overflow-y: scroll;
}


.login-form button {
    @apply w-full px-3 py-2 bg-[#cfcfcf] rounded hover:bg-[#adadad] cursor-pointer;
}

.login-footer a {
    @apply text-sm text-gray-500 hover:underline mx-2;
}

.ProseMirror pre {
    position: relative;
    background: var(--color-gray-800);
    border-radius: 0.5rem;
    color: var(--color-white);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 1.25rem;
    padding-top: 4rem;
}

.ProseMirror pre code {
    background: none;
    color: inherit;
    font-size: 0.9rem;
    padding-top: 2rem;

}

.ProseMirror pre::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    background-color: var(--color-gray-900);
    border-bottom: 1px solid #30363d;
    color: #efefef;
    text-transform: uppercase;
    font-weight: bold;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.ProseMirror pre::before {
    content: attr(data-language);
}


.ProseMirror p code {
    background-color: var(--color-blue-50);
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    margin: 0 0.2rem;
}

.ProseMirror {
    min-height: 100%;
    padding: 1rem;
}

.ProseMirror p a {
    @apply cursor-pointer;
    color: var(--color-blue-600);
    text-decoration: underline;
}

.ProseMirror p:not(table p, blockquote p, li p) {
    margin: 0.25rem;
    padding: 0.25rem;
}

.ProseMirror p:not(table p):hover {
    background-color: var(--color-gray-50);
}

.ProseMirror ul, .ProseMirror ol {
    margin-bottom: 0.25rem;
}

.ProseMirror ul:not([data-type="taskList"]) li {
    list-style-type: initial;
    margin-left: 1rem;
}

.ProseMirror ol li {
    list-style-type: decimal;
    margin-left: 1rem;
}

.ProseMirror li li {
    list-style-type: circle;
}

.ProseMirror li p {
    margin: 0;
}

.ProseMirror:focus {
    outline: none;
}

.ProseMirror table {
    border-collapse: collapse;
    width: 90%;
    table-layout: fixed;
}

.ProseMirror th,
.ProseMirror td {
    border: 1px solid #e5e7eb;
    padding: 8px;
    position: relative;
}

.ProseMirror th {
    background: #f9fafb;
    font-weight: 600;
}

.ProseMirror tr:hover td {
    background: #fafafa;
}

.ProseMirror blockquote {
    border-left: 4px solid #d1d5db;
    padding-left: 1rem;
    margin: 1rem 0;
    color: #4b5563;
    font-style: italic;
}

.ProseMirror p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #9ca3af;
    pointer-events: none;
    height: 0;
}

.ProseMirror img {
    display: block;
    height: auto;
    margin: 1.5rem 0;
    max-width: 100%;
}

.ProseMirror-selectednode > div {
    outline: 3px solid var(--color-blue-500);
}

.ProseMirror [data-resize-handle] {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
}

/* hover 효과 */
.ProseMirror [data-resize-handle]:hover {
    background: rgba(0, 0, 0, 0.8);
}

/* -------------------------
   선택 시에만 표시
------------------------- */
.ProseMirror-selectednode [data-resize-handle],
[data-resize-state="true"] [data-resize-handle] {
    opacity: 1;
    pointer-events: auto;
}

/* -------------------------
   Corner handles
------------------------- */
.ProseMirror [data-resize-handle='top-left'],
.ProseMirror [data-resize-handle='top-right'],
.ProseMirror [data-resize-handle='bottom-left'],
.ProseMirror [data-resize-handle='bottom-right'] {
    width: 8px;
    height: 8px;
    border-radius: 1rem;
}

.ProseMirror [data-resize-handle='top-left'] {
    top: -4px;
    left: -4px;
    cursor: nwse-resize;
}

.ProseMirror [data-resize-handle='top-right'] {
    top: -4px;
    right: -4px;
    cursor: nesw-resize;
}

.ProseMirror [data-resize-handle='bottom-left'] {
    bottom: -4px;
    left: -4px;
    cursor: nesw-resize;
}

.ProseMirror [data-resize-handle='bottom-right'] {
    bottom: -4px;
    right: -4px;
    cursor: nwse-resize;
}

/* -------------------------
   Edge handles
------------------------- */
.ProseMirror [data-resize-handle='top'],
.ProseMirror [data-resize-handle='bottom'] {
    height: 6px;
    left: 8px;
    right: 8px;
}

.ProseMirror [data-resize-handle='top'] {
    top: -3px;
    cursor: ns-resize;
}

.ProseMirror [data-resize-handle='bottom'] {
    bottom: -3px;
    cursor: ns-resize;
}

.ProseMirror [data-resize-handle='left'],
.ProseMirror [data-resize-handle='right'] {
    width: 6px;
    top: 8px;
    bottom: 8px;
}

.ProseMirror [data-resize-handle='left'] {
    left: -3px;
    cursor: ew-resize;
}

.ProseMirror [data-resize-handle='right'] {
    right: -3px;
    cursor: ew-resize;
}

.ProseMirror [data-resize-state='true'] [data-resize-wrapper] {
    outline: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0.125rem;
}

ul[data-type="taskList"] {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul[data-type="taskList"] li {
    display: flex;
    gap: 8px;
}

ul[data-type="taskList"] li > label input[type="checkbox"] {
    cursor: pointer;
    margin: auto;
}

.ProseMirror table {
    width: 100%;
}

.ProseMirror table td, .ProseMirror table th {
    position: relative;
}

.ProseMirror table td::after, .ProseMirror table th::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 6px;
    height: 100%;
    cursor: col-resize;
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}

.scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.ProseMirror .copy-code-btn {
    position: absolute;
    top: 0;
    right: 1rem;
    padding: 0.75rem 0.5rem;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
}

.ProseMirror .copy-code-btn:hover {
    color: #afafaf;
}
